.cover__subtitle { 
    margin: 32px auto 0 auto; 
    text-align: center; 
    font-weight: 400; 
    font-size: 18px; 
    line-height: 22px; 
    max-width: 360px; 
    width: 100%; 
    z-index: 1; 
} 
 

@media (max-width: 767px) { 
    .cover__subtitle { 
        margin-top: 16px; 
        font-size: 14px; 
        line-height: 16px; 
        max-width: calc(100% - 32px); 
    } 
} 