.card__url-heading {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #AAAAAA;
}

@media (max-width: 1023px) {
    .card__url-heading {
        line-height: 12px;
    }
}

