.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 28px;
    box-sizing: border-box;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .header {
        padding-top: 16px;
        align-items: flex-end;
    }
}