.intro {
    display: flex;
    flex-direction: column;
}

@media (min-width: 1279px) {
    .intro {
        padding-right: calc(442px - 296px/2);
        box-sizing: border-box;
    }
}

@media (min-width: 1023px) and (max-width: 1279px) {
    .intro {
        padding-right: calc(286px - 96px/2);
        box-sizing: border-box;
    }
}

@media (max-width: 767px) {
    .intro {
        width: calc(100% - 32px);
    }
}