.footer {
    padding-bottom: 24px;
    box-sizing: border-box;
    /*margin-left: 48px;*/
    /*width: calc(100% - 96px);*/
}

@media (max-width: 1279px) {
    .footer {
        
    }
}

@media (max-width: 1023px) {
    .footer {
       
    }
}

@media (max-width: 767px) {
    .footer {
        margin-top: 64px;
    }
}
