.lead__road-railway  {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0 auto 0 auto;
    stroke: rgb(226, 26, 26);
    stroke-width: 2px;
    stroke-dasharray: 5 10;
    fill: none;
    stroke-linecap: round;
    /* stroke-dashoffset: 100px; */
    /* -webkit-animation: draw 20s; */
    animation: draw 20s;
    
}

@keyframes draw {
    from { stroke-dashoffset: 200px; } 
    to   { stroke-dashoffset: 500px; } 
  }

  @media (max-width: 767px) {
    .lead__road-railway {
        top: 10px;
    }
}
