.root {
    width: 1024px;
    background: #2A2C2F;
    color: #FFFFFF;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: calc(100% - 96px);
    margin: auto;
    outline: 1px red solid;
}

.content {
    width: calc(100% - 96px);
    margin: auto;
}

.header__logo  {
    background-image: url("../images/logo.svg");
    height: 52px;
    width: 176px;
    left: 48px;
    top: 28px; 
}

.header__lang-links {
    /*display: flex;*/
    /*list-style: none;*/
}

.header__lang-link {
    color: #FFFFFF;
}

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url("../images/lead__image.jpg");
    background-repeat: no-repeat;
    background-position: bottom;
    height: 928px;
    outline: 1px red solid;
}

.photo-grid {
    /*display: grid;
    grid-template-columns: repeat (3, 300px);
    grid-template-rows: repeat (4, 225px);*/
    display: flex;
    flex-wrap: wrap;
    gap: 14px;
    outline: 1px red solid;
}

.photo-grid__items {
    margin: 0;
    outline: 1px red solid;
    line-height: 0;
}

.cover {
    
}

.cover__link {
    display: flex;
    background-image: url("../images/cover__to-baykal.jpg");
    background-size: cover;
    width: 1024px;
    height: 640px;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
    
}

.footer__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
}

.footer__author {
    color: white;
}

.footer__menu-links  {
    /*display: flex;
    flex-direction: row;*/
}