.page {
    width: 1024px;
    background: #2A2C2F;
    color: #FFFFFF;
    margin: 0 auto;
    font-family: 'Inter', 'Arial', 'Helvetica', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
   
}

.root {
    width: calc(100% - 96px);
    margin: auto;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 28px;
    box-sizing: border-box;
     /*outline: 1px red solid;*/
}

.header__logo  {
    background-image: url("../images/logo.svg");
    height: 52px;
    width: 176px;
}

.header__lang-links {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 18px;
    align-items: flex-end;
}

.header__lang-link {
    text-decoration: none;
    display: flex;
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 28px;
    font-style:  normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 28px;
}

.header__lang-link:hover {
    text-decoration: underline;
}

.header__lang-link:focus {
    text-decoration: underline;
}

.lead {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 48px;
    /*background-image: url("../images/lead__image.jpg");
    background-repeat: no-repeat;
    background-position: bottom;*/
     /*outline: 1px red solid;*/
}

.lead__title {
    font-style:  normal;
    font-weight: 900;
    font-size: 96px;
    line-height: 100px;
    margin: 0 auto 32px auto;
    width: 720px;
    height:  200px;
    text-align: center;
     /*outline: 1px red solid;*/
}

.lead__subtitle {
    font-style:  normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 36px;
    margin: 0 auto 56px auto;
    width: 640px;
    height:  72px;
    text-align: center;
     /*outline: 1px red solid;*/
}

.lead__image {
    width: 928px;
    height: 580px;
    margin: 0px;
     /*outline: 1px red solid;*/
}

.lead__caption {
    font-style:  normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    margin: 8px auto 0 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
     /*outline: 1px red solid;*/
}

.intro {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-right: 286px;
    margin-top: 92px;
    width: 690px;
     /*outline: 1px red solid;*/
}

.intro__title {
    margin: 0 0 40px 0;
    font-style:  normal;
    font-weight: 900;
    font-size: 54px;
    line-height: 58px;
     /*outline: 1px red solid;*/
}

.intro__text {
    margin: 0 0 33px 0;
    font-style:  normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26.08px;
     /*outline: 1px red solid;*/
}

.intro__list {
    list-style: none;
    margin: 0;
    padding: 0;
    font-style:  normal;
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
     /*outline: 1px red solid;*/
}

.intro__list-number {
    font-weight: 400;
}
    
.photo-grid {
    display: grid;
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(4, 225px);
    margin-top: 92px;
    gap: 14px;
     /*outline: 1px red solid;*/
}

.photo-grid__items {
    margin: 0;
     /*outline: 1px red solid;*/
    line-height: 0;
}

.photo-grid__item {
    
}

.places {
    margin-top: 92px;
}

.cards {
    margin: 0;
    padding: 0;
}

.cards__place {
    display: grid;
    margin: 0 0 80px 0;
    grid-template-columns: 440px auto;
    grid-template-rows: auto 440px;
    gap: 48px 32px;
    grid-template-areas:
        "cards__title cards__website"
        "cards__image cards__text";
     /*outline: 1px red solid;*/
}

.cards__place:last-child {
    margin-bottom: 0;
}

.cards__title {
    grid-area: cards__title;
    margin: 0;
    font-style:  normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
     /*outline: 1px red solid;*/
}

.cards__image {
    grid-area: cards__image;
     /*outline: 1px red solid;*/
}

.cards__website {
    display: flex;
    flex-direction: column;
    justify-content: end;
    grid-area: cards__website;
    gap: 12px;
     /*outline: 1px red solid;*/
}

.cards__url-heading {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 2px;
    color: #AAAAAA;
     /*outline: 1px red solid;*/
}

.cards__link {
    color:#FFFFFF;
    font-style:  normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
     /*outline: 1px red solid;*/
}

.cards__text {
    grid-area: cards__text;
     /*outline: 1px red solid;*/
}

.cards__paragraph {
    margin: 0 0 26px 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 29.34px;
     /*outline: 1px red solid;*/
}

.cards__paragraph:last-child {
    margin-bottom: 0;
}

.cover {
    margin: 92px 0 0 -48px;
}

.cover__link {
    display: flex;
    position: relative;
    background-image: url("../images/cover__to-baykal.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 1024px;
    height: 640px;
    flex-direction: column;
    align-items: center;
    color: white;
    text-decoration: none;
    z-index: 0;
     /*outline: 1px red solid;*/
}

.cover__link::before {
    content: "";
    background-color: #2A2C2F;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.3;
}

.cover__link:hover::before {
    opacity: 0.8;
  }

.cover__title {
    margin: 195px auto 0 auto;
    text-align: center;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    width: 560px;
    z-index: 1;
     /*outline: 1px red solid;*/
}

.cover__subtitle {
    margin: 32px auto 0 auto;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    width: 360px;
    z-index: 1;
     /*outline: 1px red solid;*/
}

.footer {
    margin: 92px 0 0 0;
    padding-bottom: 24px;
    box-sizing: border-box;
     /*outline: 1px red solid;*/
}

.footer__columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
     /*outline: 1px red solid;*/
}

.footer__menu  {
    padding: 0;
     /*outline: 1px red solid;*/
}

.footer__menu-links {
    display: flex;
    flex-direction: row;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 18px;
     /*outline: 1px red solid;*/
}

.footer__menu-link {
    color: white;
    text-decoration: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
     /*outline: 1px red solid;*/
}

.footer__author {
    color: white;
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 16px;
     /*outline: 1px red solid;*/
}